<ng-content>
</ng-content>
<table mat-table [dataSource]="dataSource" [ngStyle]="{'width': '100%'}" matSort (matSortChange)="changeSort($event)">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null;"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="dateTimeFromNow">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      发布时长
    </th>
    <td mat-cell *matCellDef="let row">{{row.dateTimeFromNow}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      当前状态
    </th>
    <td mat-cell *matCellDef="let row">{{row.status}}</td>
  </ng-container>
  <ng-container matColumnDef="assetName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>
      资产名称
    </th>
    <td mat-cell *matCellDef="let row">{{row.assetName}}</td>
  </ng-container>
  <ng-container matColumnDef="requestOrgIdentifier">
    <th mat-header-cell *matHeaderCellDef>
      请求机构号
    </th>
    <td mat-cell *matCellDef="let row">{{row.requestOrgIdentifier}}</td>
  </ng-container>
  <ng-container matColumnDef="requestOrgNam">
    <th mat-header-cell *matHeaderCellDef>
      请求机构名称
    </th>
    <td mat-cell *matCellDef="let row">{{row.requestOrgNam}}</td>
  </ng-container>
  <ng-container matColumnDef="org2">
    <th mat-header-cell *matHeaderCellDef>
      二级行
    </th>
    <td mat-cell *matCellDef="let row">{{row.org2}}</td>
  </ng-container>
  <ng-container matColumnDef="targetOrgIdentifier">
    <th mat-header-cell *matHeaderCellDef>
      审批机构号
    </th>
    <td mat-cell *matCellDef="let row">{{row.targetOrgIdentifier}}</td>
  </ng-container>
  <ng-container matColumnDef="targetOrgNam">
    <th mat-header-cell *matHeaderCellDef>
      审批机构名称
    </th>
    <td mat-cell *matCellDef="let row">{{row.targetOrgNam}}</td>
  </ng-container>
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>
      预留消息
    </th>
    <td mat-cell *matCellDef="let row">{{row.message}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let rows; columns:displayedColumns;"></tr>
</table>
<mat-paginator #paginator [pageIndex]="0" [length]="totalCount" [pageSize]="10" [pageSizeOptions]="[5,10,15]"
  showFirstLastButtons="true">
</mat-paginator>