<mat-toolbar color="accent">
        <span>申请资产交回</span>
        <span fxFlex="1 1 auto"></span>
        <mat-icon>account_balance</mat-icon>
    </mat-toolbar>
    <form [formGroup]="returnAssetForm" (ngSubmit)="returnAsset()" name="returnAssetForm">
        <mat-dialog-content fxLayout="column">
            <mat-form-field appearance="standard">
                <input matInput formControlName="assetId" type="text" readonly>
                <mat-label>
                    <mat-icon>message</mat-icon>
                    资产索引
                </mat-label>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <input matInput formControlName="assetName" type="text" readonly>
                <mat-label>
                    <mat-icon>message</mat-icon>
                    资产名称
                </mat-label>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <input matInput formControlName="targetOrgId" type="text" readonly>
                <mat-label>
                    <mat-icon>message</mat-icon>
                    发往机构
                </mat-label>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <textarea matInput formControlName="message" matTextareaAutosize></textarea>
                <mat-label>
                    <mat-icon>message</mat-icon>
                    请输入附言
                </mat-label>
                <mat-error *ngIf="returnAssetForm.get('message').invalid">必输项，不少于2个字符，不超过15个</mat-error>
                <mat-hint align="end">已输入:{{returnAssetForm.get('message').value.length}}/15</mat-hint>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-icon-button mat-dialog-close color="accent" matTooltip="退出">
                <mat-icon>exit_to_app</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="提交" [disabled]="returnAssetForm.invalid" type="submit">
                <mat-icon>done</mat-icon>
            </button>
        </mat-dialog-actions>
    </form>
