<mat-card class="dashboard-card">
    <mat-card-content>

        <app-space-table [url]="tableUrl" [filter]="filter" (selected)="onSelected($event)">
            <mat-toolbar color="accent" class="table-bar" fxLayoutGap="10px">
                <button mat-raised-button color="accent" (click)="openModifySpaceDialog()">
                    <mat-icon>edit</mat-icon>
                    维护空间
                </button>
                <button mat-raised-button color="accent" (click)="openCreateSpaceDialog()">
                    <mat-icon>add</mat-icon>
                    新增空间
                </button>
                <mat-form-field appearance="standard">
                    <input matInput #spaceSearchInput>
                    <mat-label>
                        <mat-icon>message</mat-icon>
                        请输入关键字进行查询.....
                    </mat-label>
                </mat-form-field>
            </mat-toolbar>
        </app-space-table>
    </mat-card-content>
    <mat-card-actions align="end">
        <mat-paginator #paginator [length]="totalCount" [pageSizeOptions]="[5,10,15]" showFirstLastButtons="true">
        </mat-paginator>
    </mat-card-actions>
</mat-card>
<ng-template #modifySpaceDialog>
    <mat-toolbar color="accent">
        <span>修改空间信息</span>
    </mat-toolbar>
    <form [formGroup]="modifySpaceForm" name="modifySpaceForm" (ngSubmit)="modifySpace()">
        <mat-dialog-content fxLayout="column">
            <mat-form-field appearance="standard">
                <input matInput formControlName="spaceName" type="text">
                <mat-error *ngIf="modifySpaceForm.get('spaceName').invalid"></mat-error>
                <mat-hint align="end">{{modifySpaceForm.get('spaceName').value.length}}/10</mat-hint>
                <mat-label>
                    <mat-icon color="accent">business</mat-icon>
                    请修改空间名称
                </mat-label>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <input matInput formControlName="spaceDescription" type="text">
                <mat-error *ngIf="modifySpaceForm.get('spaceDescription').invalid"></mat-error>
                <mat-hint align="end">{{modifySpaceForm.get('spaceDescription').value.length}}/10</mat-hint>
                <mat-label>
                    <mat-icon color="accent">report</mat-icon>
                    请修改空间描述
                </mat-label>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-icon-button mat-dialog-close color="warn" matTooltip="退出">
                <mat-icon>exit_to_app</mat-icon>
            </button>
            <button mat-icon-button type="submit" color="primary" matTooltip="提交">
                <mat-icon>done</mat-icon>
            </button>
        </mat-dialog-actions>
    </form>
</ng-template>
<ng-template #createSpaceDialog>
    <mat-toolbar color="accent">新增空间信息</mat-toolbar>
    <form [formGroup]="createSpaceForm" (ngSubmit)="createSpace()" name="createSpaceForm">
        <mat-dialog-content fxLayout="column">
            <mat-form-field appearance="standard">
                <input matInput formControlName="spaceName">
                <mat-error *ngIf="createSpaceForm.get('spaceName').invalid">
                    必输项，最少2个字符，最多10个
                </mat-error>
                <mat-hint align="end">已输入{{createSpaceForm.get('spaceName')?.value.length}}/10</mat-hint>
                <mat-label>
                    <mat-icon color="accent">
                        business
                    </mat-icon>
                    请输入空间名称
                </mat-label>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <input matInput formControlName="spaceDescription">
                <mat-error *ngIf="createSpaceForm.get('spaceDescription').invalid">
                    必输项，最少5个字符，最多10个
                </mat-error>
                <mat-hint align="end">已输入{{createSpaceForm.get('spaceDescription').value.length}}/10</mat-hint>
                <mat-label>
                    <mat-icon color="accent">report</mat-icon>
                    请输入空间描述
                </mat-label>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-icon-button color="accent" matTooltip="取消" mat-dialog-close>
                <mat-icon>power_settings_new</mat-icon>
            </button>
            <button mat-icon-button color="primary" type="submit" [disabled]="createSpaceForm.invalid" matTooltip="提交">
                <mat-icon>done</mat-icon>
            </button>
        </mat-dialog-actions>
    </form>
</ng-template>