<app-asset-apply-table [url]="assetApplyUrl" [filter]="searchInputContent" (selected)="onSelected($event)">
    <mat-toolbar color="primary" class="table-bar" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="openRevokeEventDialog()">
            <mat-icon>fast_rewind</mat-icon>
            撤销资产申请
        </button>
        <button mat-raised-button color="primary" (click)="openHandleAssetApplyingDialog()">
            <mat-icon>fast_forward</mat-icon>
            处理请求事件
        </button>
        <mat-form-field appearance="standard">
            <input matInput #searchInput type="text">
            <mat-label>
                <mat-icon>message</mat-icon>
                请输入关键字检索.....
            </mat-label>
        </mat-form-field>
        <span fxFlex="1 1 auto"></span>
        <a [routerLink]="['/dashboard']" matTooltip="返回仪表板">
            <mat-icon>dashboard</mat-icon>
        </a>
        <span>机构资产申请(二级权限)</span>
    </mat-toolbar>
</app-asset-apply-table>