<mat-card>
  <mat-card-header>
    <img src="assets/img/icons/Devices.png" alt="logo" mat-card-avatar>
    <mat-card-title>资产情况</mat-card-title>
    <mat-card-subtitle>当前页面显示二级权限下所有资产的概况</mat-card-subtitle>
    <button mat-icon-button class="more-button" [matMenuTriggerFor]="assetMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #assetMenu="matMenu" xPosition="before">
      <button mat-menu-item [routerLink]="['/assets','secondaryadmin']">前往资产管理页</button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <app-asset-bar-chart [dataSet]="assetCategoryByThirdLevelDataset" [chartTitle]="''"
      (thirdLevelEmitter)=onThirdLevelEmitted($event)></app-asset-bar-chart>
    <app-asset-table [apiUrl]="assetTableUrl" [currentSelectedThirdLevel]="currentAssetThirdLevel">
      <mat-toolbar color="accent" fxLayoutGap="10px">
        <button mat-raised-button color="accent" (click)="currentAssetThirdLevel=''">
          <mat-icon>settings_backup_restore</mat-icon>
          重置三级分类检索条件
        </button>
        <span fxFlex></span>
        <button mat-icon-button matTooltip="转至资产管理页面" [routerLink]="['/assets','secondaryadmin']">
          <mat-icon>dashboard</mat-icon>
        </button>
      </mat-toolbar>
    </app-asset-table>
  </mat-card-content>
</mat-card>