<app-nonauditevent-table #nonauditEventTable [apiUrl]="currentNonAuditEventsUrl"
    [currentFileterData]="currentFilterInputValue" (selected)="onSlected($event)" title="用户事件"
    subTitle="事件由用户操作产生，通常不需要后续的处理">
    <mat-toolbar fxLayoutGap="10px" color="primary" class="table-bar">
        <button mat-raised-button color="primary" (click)="openRemoveEventDialog()">
            <mat-icon>delete_sweep</mat-icon>
            删除事件
        </button>
        <mat-form-field appearance="standard">
            <input matInput #filterInput type="text">
            <mat-label>
                <mat-icon>message</mat-icon>
                请输入关键字进行搜索......
            </mat-label>
        </mat-form-field>
    </mat-toolbar>
</app-nonauditevent-table>
<ng-template #removeNonAuditEventRef>
    <mat-toolbar color="warn">
        <span>删除事件</span>
        <span fxFlex="1 1 auto"></span>
        <mat-icon>warning</mat-icon>
    </mat-toolbar>
    <mat-dialog-content>
        <mat-card>
            <mat-card-header>
                <img src="assets/img/logo.png" alt="logo" mat-card-avatar>
                <mat-card-title>确认信息</mat-card-title>
                <mat-card-subtitle>事件一经删除无法找回</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-icon-button color="accent" mat-dialog-close matTooltip="退出">
            <mat-icon>exit_to_app</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="removeEvent()">
            <mat-icon>done</mat-icon>
        </button>
    </mat-dialog-actions>
</ng-template>