<app-asset-apply-table [url]="assetApplyUrl" [filter]="searchInputContent" (selected)="onSelected($event)">
    <mat-toolbar color="primary" class="table-bar" fxLayoutGap="10px">
        <button mat-raised-button color="primary" (click)="openRemoveApplicationDialog()">
            <mat-icon>fast_rewind</mat-icon>
            删除申请
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/user','assetCategory']">
            <mat-icon>fast_forward</mat-icon>
            继续申请
        </button>
        <mat-form-field appearance="standard">
            <input matInput #searchInput type="text">
            <mat-label>
                <mat-icon>message</mat-icon>
                请输入关键字检索.....
            </mat-label>
        </mat-form-field>
        <span fxFlex="1 1 auto"></span>
        <a [routerLink]="['/dashboard']" color="primary" matTooltip="返回仪表板">
            <mat-icon>dashboard</mat-icon>
        </a>
        <span>当前机构资产申请</span>
    </mat-toolbar>
</app-asset-apply-table>

<ng-template #removeEventRef>
    <mat-toolbar color="warn">
        <span>删除资产交回请求</span>
        <span fxFlex="1 1 auto"></span>
        <mat-icon>info</mat-icon>
    </mat-toolbar>
    <mat-dialog-content>
        <mat-list>
            <mat-list-item>
                <img src="assets/img/logo.png" alt="logo" matListAvatar>
                <p matLine>确认删除该事件么?</p>
                <p matLine>申请删除后不可恢复</p>
            </mat-list-item>
        </mat-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-icon-button color="warn" mat-dialog-close matTooltip="取消">
            <mat-icon>exit_to_app</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="removeApplication()" matTooltip="确定">
            <mat-icon>done</mat-icon>
        </button>
    </mat-dialog-actions>
</ng-template>
<!-- <ng-template #removeEventRef>
  <h3 mat-dialog-title>删除资产申请请求</h3>
  <mat-dialog-content>
    <div fxLayoutAlign="center center" fxLayout="column">
      <p>
        <mat-icon color="warn">info</mat-icon>记录一经删除无法找回
      </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-icon-button color="warn" mat-dialog-close matTooltip="取消">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="removeEvent()" matTooltip="确定">
      <mat-icon>done</mat-icon>
    </button>
  </mat-dialog-actions>
</ng-template> -->