<mat-card>
  <mat-card-header>
    <img src="assets/img/icons/CPU.png" alt="logo" mat-card-avatar>
    <mat-card-title>固定资产分类(二级权限)</mat-card-title>
    <mat-card-subtitle>显示当前管理条线下的分类明细，可进行相应权限的操作</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="end">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="accent">computer</mat-icon>固定资产分类明细
        </ng-template>
        <app-asset-category-table [url]="assetCategoryUrl" [filter]="assetCategoryFileterData"
          (selected)="onSelected($event)" #appAssetCategoryTable>
          <mat-toolbar color="accent" class="table-bar" fxLayoutGap="10px">
            <button mat-raised-button color="accent" (click)="openChangeAssetCategoryMeteringUnitDialog()">
              <mat-icon>shopping_cart</mat-icon>
              修改计量单位
            </button>
            <button mat-raised-button color="accent" (click)="openAssetStorageConfirmDialog()">
              <mat-icon>work</mat-icon>
              资产批量入库
            </button>
            <button mat-raised-button color="accent" (click)="openAddMaintainersDialog()">
              <mat-icon>important_devices</mat-icon>
              录入维修公司信息
            </button>
            <mat-form-field appearance="standard">
              <input matInput #assetCategorySearchInput type="text">
              <mat-label>
                输入关键字以检索...
              </mat-label>
              <mat-icon matSuffix color="accent">search</mat-icon>
            </mat-form-field>
          </mat-toolbar>
        </app-asset-category-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="accent">settings_phone</mat-icon>服务商管理
        </ng-template>
        <ng-template matTabContent>
          <app-maintainers>
          </app-maintainers>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="accent">keyboard</mat-icon>低值易耗品分类明细
        </ng-template>
        <ng-template matTabContent>
          <app-metarials></app-metarials>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>