<div fxLayout="row" fxLayout.lt-lg="row wrap">
  <mat-card fxFlex>
    <mat-card-header>
      <img src="assets/img/icons/Environmental Monitoring.png" alt="" mat-card-avatar>
      <mat-card-title>
        机构资产信息
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>按资产分类进行显示的资产占用情况</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <app-asset-bar-chart [dataSet]="thirdLevelDataSet" [chartTitle]="'资产按三级分类汇总'"></app-asset-bar-chart>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex>
    <mat-card-header>
      <img src="assets/img/icons/Smart TV.png" alt="" mat-card-avatar>
      <mat-card-title>
        机构资产信息
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu2" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu2="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
      <mat-card-subtitle>按管理机构分类进行显示的资产占用情况</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <app-asset-bar-chart [dataSet]="managerOrgDataSet" [chartTitle]="'资产按管理机构汇总'"></app-asset-bar-chart>
    </mat-card-content>
  </mat-card>
</div>
<mat-card>
  <mat-card-header>
    <img src="assets/img/icons/Automation.png" alt="logo" matCardAvatar>
    <mat-card-title>固定资产查询与操作</mat-card-title>
    <mat-card-subtitle>该页面包含给i顶资产的查询和操作功能，你可以选择右侧TAB进行相关页面的切换</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="end">
      <mat-tab>
        <ng-template matTabLabel>
          <mat-icon color="accent">computer</mat-icon>机构资产情况
        </ng-template>
        <app-asset-table [apiUrl]="apiUrl" [currentFileterData]="searchInput" (selected)="onSelected($event)">
          <mat-toolbar class="table-bar" fxLayoutGap="10px" color="accent">
            <button mat-raised-button color="accent" (click)="openModifyAssetLocationDialog()">
              <mat-icon>edit_location</mat-icon>
              维护资产位置
            </button>
            <button mat-raised-button color="accent" (click)="openAssetReturnDialog()">
              <mat-icon>assignment_return</mat-icon>
              申请资产交回
            </button>
            <button mat-raised-button color="accent" (click)="openExchangeAssetDialog()">
              <mat-icon>import_export</mat-icon>
              申请资产机构间调换
            </button>
            <button mat-raised-button color="accent" (click)="openApplyMaintainingDialog()">
              <mat-icon>phone_forwarded</mat-icon>
              申请资产维修
            </button>
            <mat-form-field appearance="standard">
              <input matInput #assetSearchInput type="text">
              <mat-label>
                <mat-icon>message</mat-icon>
                输入关键字以检索...
              </mat-label>
            </mat-form-field>
          </mat-toolbar>
        </app-asset-table>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          <mat-icon color="accent">important_devices</mat-icon>固定资产盘点
        </ng-template>
        <app-asset-inventory></app-asset-inventory>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<ng-template #changeAssetLocationRef>
  <mat-toolbar color="accent">
    <span>维护资产摆放位置</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-icon-button matTooltip="添加机构空间" (click)="dialog.closeAll()"
      [routerLink]="['/organization','spaceandemployee']">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <form [formGroup]="modifyAssetLocationForm" (ngSubmit)="modifyAssetLocation()">
    <mat-dialog-content>
      <mat-form-field fxFlex appearance="standard">
        <mat-select formControlName="assetLocation">
          <mat-option *ngFor="let space of orgSpaces" [value]="space.spaceName">
            {{space.spaceName}}
          </mat-option>
        </mat-select>
        <mat-error></mat-error>
        <mat-label>
          <mat-icon>get_app</mat-icon>
          请选择一个位置.......
        </mat-label>
        <mat-hint align="end">
          如果没有合适的,可以点击上方加号按钮新增一个
        </mat-hint>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-icon-button mat-dialog-close color="accent" matTooltip="退出">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="提交" [disabled]="modifyAssetLocationForm.invalid"
        type="submit">
        <mat-icon>done</mat-icon>
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>