<mat-card>
  <mat-card-header>
    <img src="assets/img/logo.png" alt="logo" mat-card-avatar>
    <mat-card-title>固定资产分类(二级权限)</mat-card-title>
    <mat-card-subtitle>显示当前管理条线下的分类明细，可进行相应权限的操作</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="end">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">computer</mat-icon>固定资产分类明细
        </ng-template>
        <app-asset-category-table [apiUrl]="assetCategoryApiUrl" [currentFileterData]="assetCategoryFileterData"
          (selected)="onAssetCategorySelected($event)" #appAssetCategoryTable>
          <mat-toolbar color="primary" class="table-bar" fxLayoutGap="10px">
            <button mat-raised-button color="primary" (click)="openChangeAssetCategoryMeteringUnitDialog()">
              <mat-icon>shopping_cart</mat-icon>
              修改计量单位
            </button>
            <button mat-raised-button color="primary" (click)="openAssetStorageConfirmDialog()">
              <mat-icon>work</mat-icon>
              资产批量入库
            </button>
            <button mat-raised-button color="primary" (click)="openAddMaintainersDialog()">
              <mat-icon>important_devices</mat-icon>
              录入维修公司信息
            </button>
            <mat-form-field appearance="standard">
              <input matInput #assetCategorySearchInput type="text">
              <mat-label>
                输入关键字以检索...
              </mat-label>
              <mat-icon matSuffix color="accent">search</mat-icon>
            </mat-form-field>
          </mat-toolbar>
        </app-asset-category-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">settings_phone</mat-icon>服务商管理
        </ng-template>
        <ng-template matTabContent>
          <app-maintainers [apiUrl]="maintainersUrl" (selected)="onMaintainerSelected($event)">
            <mat-toolbar color="primary">
              <button mat-raised-button color="primary" (click)="openDeleteMaintainerDialog()">
                <mat-icon>delete_forever</mat-icon>
                删除记录
              </button>
            </mat-toolbar>
          </app-maintainers>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">keyboard</mat-icon>低值易耗品分类明细
        </ng-template>
        <app-asset-material-table></app-asset-material-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<ng-template #changeAssetCategoryMeteringUnit>
  <h2 mat-dialog-title>修改分类计量单位</h2>
  <mat-dialog-content>
    <form [formGroup]="changeMeteringUnitForm" (ngSubmit)="changeMeteringUnit()">
      <mat-card>
        <mat-card-header>
          <img src="assets/img/logo.png" alt="logo" mat-card-avatar>
          <mat-card-title>修改计量单位</mat-card-title>
          <mat-card-subtitle>有些分类的计量单位的描述可能不太准确，如果需要，那么在下方选择该项分类的新的计量单位</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <mat-select formControlName="assetMeteringUnit" #meteringUnit>
              <mat-option *ngFor="let unit of initMeteringUnits$ | async;" [value]="unit.value">
                {{unit.name}}
              </mat-option>
            </mat-select>
            <mat-label>请选择计量单位</mat-label>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button mat-dialog-close color="accent" matTooltip="退出">
            <mat-icon>exit_to_app</mat-icon>
          </button>
          <button mat-icon-button color="primary" [disabled]="changeMeteringUnitForm.invalid" matTooltip="提交">
            <mat-icon>done</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-dialog-content>
</ng-template>
<ng-template #assetStorageConfirmRef>
  <mat-dialog-content>
    <form [formGroup]="assetStorageForm" fxFlex>
      <mat-card>
        <mat-card-header>
          <img src="assets/img/logo.png" alt="logo" mat-card-avatar>
          <mat-card-title>固定资产入库</mat-card-title>
          <mat-card-subtitle>请仔细核对所选择的分类明细</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutGap="10px">
          <mat-toolbar color="primary">
            <span>资产分类信息</span>
          </mat-toolbar>
          <div fxLayout="row wrap">
            <mat-list>
              <mat-list-item>
                <mat-icon color="warn" matListIcon>filter_1</mat-icon>
                <p matLine>
                  资产大类
                </p>
                <p matLine>{{currentSelectedCategory.assetFirstLevelCategory}}</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="warn" matListIcon>filter_4</mat-icon>
                <p matLine>
                  归属条线描述
                </p>
                <p matLine>{{currentSelectedCategory.managementLineDto.managementLineDescription}}</p>
              </mat-list-item>
            </mat-list>
            <mat-list>
              <mat-list-item>
                <mat-icon color="warn" matListIcon>filter_2</mat-icon>
                <p matLine>
                  资产小类
                </p>
                <p matLine>{{currentSelectedCategory.assetThirdLevelCategory}}</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon color="warn" matListIcon>filter_3</mat-icon>
                <p matLine>
                  归属条线名称
                </p>
                <p matLine>{{currentSelectedCategory.managementLineDto.managementLineName}}</p>
              </mat-list-item>
            </mat-list>
          </div>
          <mat-toolbar color="primary">
            <span>
              <mat-icon>event_note</mat-icon>
              表单
            </span>
          </mat-toolbar>
          <mat-form-field>
            <input matInput formControlName="assetName" type="text">
            <mat-label>
              <mat-icon>message</mat-icon>请填写资产名称
            </mat-label>
            <mat-hint align="end">必输项</mat-hint>
            <mat-error *ngIf="assetStorageForm.get('assetName').invalid">资产名称为必输项</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="brand" type="text">
            <mat-label>
              <mat-icon>message</mat-icon>请填写资产品牌
            </mat-label>
            <mat-hint align="end">必输项</mat-hint>
            <mat-error *ngIf="assetStorageForm.get('brand').invalid">资产品牌必须填写</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="assetDescription" type="text">
            <mat-label>
              <mat-icon>message</mat-icon>请填写资产描述
            </mat-label>
            <mat-hint align="end">必输项，一般该项用于描述资产配置</mat-hint>
            <mat-error *ngIf="assetStorageForm.get('assetDescription').invalid">资产描述必须填写</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="assetType" type="text">
            <mat-label>
              <mat-icon>message</mat-icon>请填写资产型号
            </mat-label>
            <mat-hint align="end">必输项</mat-hint>
            <mat-error *ngIf="assetStorageForm.get('assetType').invalid">资产型号必须填写</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="assetLocation">
              <mat-option [value]="null">
                <mat-icon>info</mat-icon>选择一个入库位置
              </mat-option>
              <mat-option *ngFor="let item of orgSpaces$ | async" [value]="item.spaceName">
                {{item.spaceName}}
              </mat-option>
            </mat-select>
            <mat-label>
              <mat-icon>message</mat-icon>请选择入库位置
            </mat-label>
            <mat-hint align="end">入库位置在机构空间中进行维护</mat-hint>
            <mat-error *ngIf="assetStorageForm.get('assetLocation').invalid">入库位置为必填项目</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="endDatePicker" type="text" formControlName="createDateTime"
              [max]="currentDate">
            <mat-label>
              <mat-icon>message</mat-icon>请选择资产生产日期
            </mat-label>
            <mat-error *ngIf="assetStorageForm.get('createDateTime').invalid">生产日期为必输项</mat-error>
            <mat-datepicker-toggle [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker disabled="false"></mat-datepicker>
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="10px" formGroupName="tagNumbers">
            <mat-form-field>
              <input matInput formControlName="startTagNumber" type="text">
              <mat-label>
                <mat-icon>message</mat-icon>请输入起始标签号
              </mat-label>
              <mat-error *ngIf="assetStorageForm.get('tagNumbers').get('startTagNumber').invalid">标签号的格式不正确
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="endTagNumber" type="text">
              <mat-label>
                <mat-icon>message</mat-icon>请输入结束标签号
              </mat-label>
              <mat-error *ngIf="assetStorageForm.get('tagNumbers').get('endTagNumber').invalid">标签号的格式不正确</mat-error>
            </mat-form-field>
          </div>
          <mat-error *ngIf="assetStorageForm.get('tagNumbers').hasError('tagNumberFormat')">
            <mat-icon>important_devices</mat-icon>
            起始标签号和结束标签号的格式不一致
          </mat-error>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button color="accent" matTooltip="退出" mat-dialog-close>
            <mat-icon>power_settings_new</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="提交" (click)="storeAssetsConfirm()"
            [disabled]="assetStorageForm.invalid">
            <mat-icon>done</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-dialog-content>
</ng-template>

<ng-template #assetStorageRef>
  <mat-card>
    <mat-card-header>
      <img src="assets/img/logo.png" alt="logo" mat-card-avatar>
      <mat-card-title>资产入库</mat-card-title>
      <mat-card-subtitle>请仔细核对所填写的资产信息，核对无误方可点击提交确认。</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-toolbar color="primary">
        <span>入库资产分类信息</span>
      </mat-toolbar>
      <div fxLayout="row wrap">
        <mat-list>
          <mat-list-item>
            <mat-icon color="primary" matListIcon>filter_1</mat-icon>
            <p matLine>
              资产大类
            </p>
            <p matLine>{{currentSelectedCategory.assetFirstLevelCategory}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon color="primary" matListIcon>filter_4</mat-icon>
            <p matLine>
              归属条线描述
            </p>
            <p matLine>{{currentSelectedCategory.managementLineDto.managementLineDescription}}</p>
          </mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item>
            <mat-icon color="primary" matListIcon>filter_2</mat-icon>
            <p matLine>
              资产小类
            </p>
            <p matLine>{{currentSelectedCategory.assetThirdLevelCategory}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon color="primary" matListIcon>filter_3</mat-icon>
            <p matLine>
              归属条线名称
            </p>
            <p matLine>{{currentSelectedCategory.managementLineDto.managementLineName}}</p>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-toolbar color="primary">
        <span>入库资产信息</span>
      </mat-toolbar>
      <div fxLayout="row">
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon color="primary">filter_1</mat-icon>
            <p matLine>资产名称</p>
            <p matLine>{{currentBuiltAssetStorageViewmodel.assetName}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon color="primary">filter_4</mat-icon>
            <p matLine>资产品牌</p>
            <p matLine>{{currentBuiltAssetStorageViewmodel.brand}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon color="primary">filter_7</mat-icon>
            <p matLine>资产描述</p>
            <p matLine>{{currentBuiltAssetStorageViewmodel.assetDescription}}</p>
          </mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon color="primary">filter_2</mat-icon>
            <p matLine>资产型号</p>
            <p matLine>{{currentBuiltAssetStorageViewmodel.assetType}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon color="primary">filter_5</mat-icon>
            <p matLine>资产位置</p>
            <p matLine>{{currentBuiltAssetStorageViewmodel.assetLocation}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon color="primary">filter_8</mat-icon>
            <p matLine>生产日期</p>
            <p matLine>{{currentBuiltAssetStorageViewmodel.createDateTime | date:'short'}}</p>
          </mat-list-item>
        </mat-list>
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon color="primary">filter_3</mat-icon>
            <p matLine>开始标签号</p>
            <p matLine>{{currentBuiltAssetStorageViewmodel.startTagNumber}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon color="primary">filter_6</mat-icon>
            <p matLine>结束标签号</p>
            <p matLine>{{currentBuiltAssetStorageViewmodel.endTagNumber}}</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon color="primary">filter_9</mat-icon>
            <p matLine>入库数量</p>
            <p matLine>{{currentBuiltAssetStorageViewmodel.count()}}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button color="accent" mat-dialog-close>
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="assetsStore()">
        <mat-icon>done</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #addMaintainersRef>
  <h3 mat-dialog-title>
    添加资产维修服务
  </h3>
  <mat-dialog-content>
    <form [formGroup]="addMaintainerForm">
      <mat-card>
        <mat-card-header>
          <img src="assets/img/logo.png" alt="logo" matCardAvatar>
          <mat-card-title>添加资产维修服务</mat-card-title>
          <mat-card-subtitle>为指定的资产维修添加相关的服务，当机构有设备出现故障时，会根据添加的维修服务来指定维修人员上门服务</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <h3>请核对资产分类的关键信息，避免在错误的资产分类上面添加维修服务</h3>
          <div fxLayout="row">
            <mat-list>
              <mat-list-item>
                <mat-icon matListIcon color="primary">filter_1</mat-icon>
                <h4 matLine>资产大类</h4>
                <p matLine>{{assetCategorySelection.selected[0].assetFirstLevelCategory}}</p>
              </mat-list-item>
            </mat-list>
            <mat-list>
              <mat-list-item>
                <mat-icon matListIcon color="primary">filter_2</mat-icon>
                <h4 matLine>资产中类</h4>
                <p matLine>{{assetCategorySelection.selected[0].assetSecondLevelCategory}}</p>
              </mat-list-item>
            </mat-list>
            <mat-list>
              <mat-list-item>
                <mat-icon matListIcon color="primary">filter_3</mat-icon>
                <h4 matLine>资产小类</h4>
                <p matLine>{{assetCategorySelection.selected[0].assetThirdLevelCategory}}</p>
              </mat-list-item>
            </mat-list>
          </div>
          <h3>核对无误请填写下面表单，然后提交</h3>
          <mat-form-field>
            <input matInput formControlName="companyName" type="text">
            <mat-label>
              <mat-icon>message</mat-icon>
              请输入服务公司名称
            </mat-label>
            <mat-hint align="end">该项为必输项</mat-hint>
            <mat-error *ngIf="addMaintainerForm.get('companyName').invalid">输入格式错误</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="maintainerName" type="text">
            <mat-label>
              <mat-icon>message</mat-icon>
              请输入维修人员姓名
            </mat-label>
            <mat-hint align="end">该项为必输项</mat-hint>
            <mat-error *ngIf="addMaintainerForm.get('maintainerName').invalid">输入格式错误</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="telephone" type="text">
            <mat-label>
              <mat-icon>message</mat-icon>
              请输入维修人员手机号
            </mat-label>
            <mat-hint align="end">该项为必输项</mat-hint>
            <mat-error *ngIf="addMaintainerForm.get('telephone').invalid">输入格式错误</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="officePhone" type="text">
            <mat-label>
              <mat-icon>message</mat-icon>
              请输入维修人员座机电话
            </mat-label>
            <mat-hint align="end">该项不是必输</mat-hint>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <button type="button" mat-icon-button matTooltip="关闭" mat-dialog-close>
            <mat-icon>power_settings_new</mat-icon>
          </button>
          <button type="button" mat-icon-button matTooltip="提交" (click)="addMaintainer()">
            <mat-icon>done</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-dialog-content>
</ng-template>

<ng-template #deleteMaintainerRef>
  <mat-card>
    <mat-card-header>
      <img src="assets/img/logo.png" alt="logo" mat-card-avatar>
      <mat-card-title>删除服务商记录</mat-card-title>
      <mat-card-subtitle>请核对要删除的服务商信息，确认无误可删除</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-icon color="accent">warning</mat-icon>
      该条记录一经删除便无法找回，请确认是否删除
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button mat-dialog-close matTooltip="关闭" color="warn">
        <mat-icon>
          power_settings_new
        </mat-icon>
      </button>
      <button mat-icon-button matTooltip="提交" color="primary" (click)="deleteMaintainer()">
        <mat-icon>
          done
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>