<mat-sidenav-container class="app-container">
  <mat-sidenav class="app-sidenav-bar" fixedInViewport="true" [mode]="isLg ? 'side' : 'over'"
    [opened]="(accountService.isAuthenticated$ | async)" #leftSidenav>
    <app-left-sidenav></app-left-sidenav>
  </mat-sidenav>
  <mat-sidenav class="app-right-sidenav-bar" fixedInViewport="true" [mode]="over" position="end" [opened]="false"
    #rightSidenav>
    <app-chat-history></app-chat-history>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="leftSidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/img/applogo.png" alt="applogo" [ngStyle]="{'max-width': '80%','max-height':'80%'}"
        *ngIf="!leftSidenav.opened">
      <span>固定资产管理系统</span>
      <button mat-button [routerLink]="[ '/dashboard','user']">资产仪表板</button>
      <button mat-button [routerLink]="[ '/dashboard','secondary']">综合仪表板</button>
      <button mat-button [routerLink]="[ '/document' ]">文档</button>
      <span fxFlex="1 1 auto"></span>
      <ng-container *ngIf="isAuthenticated;else notAuthenticatedTemplate;">
        <button mat-button [matMenuTriggerFor]="orgMenu">
          欢迎：{{currentOrg?.shortName?currentOrg.shortName:"请登录"}}
        </button>
        <mat-menu #orgMenu="matMenu">
          <button mat-menu-item (click)="openCurrentOrgInfoDialog()">
            <mat-icon>message</mat-icon>
            机构信息
          </button>
          <button mat-menu-item (click)="openChangeOrgPasswordDialog()">
            <mat-icon>lock</mat-icon>
            修改密码
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            登出系统
          </button>
        </mat-menu>
        <button mat-icon-button (click)="rightSidenav.open()" matTooltip="查看在线用户">
          <mat-icon>people</mat-icon>
        </button>
      </ng-container>
      <ng-template #notAuthenticatedTemplate>
        <button mat-icon-button [routerLink]="[ '/login' ]" routerLinkActive="active">
          <mat-icon>account_circle</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
    <div class="app-router-outlet-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar color="primary" class="app-footer">
  <button mat-button>中国银行股份有限公司内蒙古自治区包头分行信息科技部</button>
  <span fxFlex="1 1 auto"></span>
  <img src="assets/img/myLogo.png" alt="logo" [ngStyle]="{'max-width': '60%','max-height':'60%'}"
    (click)="leftSidenav.toggle()">
  <button mat-button>Copyright © 2018-2026 All Rights Reserved</button>
</mat-toolbar>
<ng-template #currentOrgTemplate>
  <mat-toolbar color="accent">
    <mat-icon>ballot</mat-icon>
    <span>当前凭证信息</span>
    <span fxFlex="1 1 auto"></span>
    <mat-icon>account_balance</mat-icon>
  </mat-toolbar>
  <mat-dialog-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{currentOrg.orgIdentifier}}</mat-card-title>
        <mat-card-subtitle>{{currentOrg.orgName}}</mat-card-subtitle>
        <img src="assets/img/icons/Semantic Web.png" alt="" mat-card-avatar>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <div fxLayout="row wrap">
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon color="accent">filter_1</mat-icon>
              <p matLine>机构简称</p>
              <p matLine>{{currentOrg.shortName}}</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon color="accent">filter_2</mat-icon>
              <p matLine>二级行</p>
              <p matLine>{{currentOrg.org2}}</p>
            </mat-list-item>
          </mat-list>
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon color="accent">filter_3</mat-icon>
              <p matLine>凭证过期时间</p>
              <p matLine>{{currentOrg.exp*1000 | date:"y年MM月dd日HH时mm分ss秒" }}</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon color="accent">filter_4</mat-icon>
              <p matLine>凭证颁发时间</p>
              <p matLine>{{currentOrg.iat*1000 | date:"y年MM月dd日HH时mm分ss秒"}}</p>
            </mat-list-item>
          </mat-list>
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon color="accent">filter_5</mat-icon>
              <p matLine>凭证颁发机构</p>
              <p matLine>{{currentOrg.iss}}</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon color="accent">filter_6</mat-icon>
              <p matLine>凭证受众机构</p>
              <p matLine>{{currentOrg.aud}}</p>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button color="accent" mat-dialog-close matTooltip="退出">
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openChangeOrgShortNamDialog()" matTooltip="修改机构简称">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</ng-template>
<ng-template #changeOrgShortNameTemplate>
  <mat-toolbar color="accent">
    <span>修改机构简称</span>
    <span fxFlex="1 1 auto"></span>
    <mat-icon>account_balance</mat-icon>
  </mat-toolbar>
  <mat-dialog-content>
    <form [formGroup]="changeOrgShortNamForm" (ngSubmit)="changeOrgShortName()">
      <mat-card>
        <mat-card-header>
          <img src="assets/img/logo.png" alt="" mat-card-avatar>
          <mat-card-title>修改本机构简称</mat-card-title>
          <mat-card-subtitle>机构简称要求至少输入两个字符，不超过8个字符</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput formControlName="orgIdentifier" type="text" readonly>
            <mat-hint align="end">免输</mat-hint>
            <mat-label>
              <mat-icon>message</mat-icon>
              机构号
            </mat-label>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="orgNam" type="text" readonly>
            <mat-hint align="end">免输</mat-hint>
            <mat-label>
              <mat-icon>message</mat-icon>
              机构名称
            </mat-label>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="orgShortNam">
            <mat-hint align="end">机构简称要求输入2个字符，不超过8个字符</mat-hint>
            <mat-error *ngIf="changeOrgShortNamForm.get('orgShortNam').invalid">输入有误</mat-error>
            <mat-placeholder>
              <mat-icon>message</mat-icon>
              请输入机构简称
            </mat-placeholder>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button mat-dialog-close color="accent">
            <mat-icon>exit_to_app</mat-icon>
          </button>
          <button mat-icon-button type="submit" color="primary" [disabled]="changeOrgShortNamForm.invalid">
            <mat-icon>done</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-dialog-content>
</ng-template>
<ng-template #changeOrgPasswordTemplate>
  <mat-toolbar color="accent">
    <span>修改本机构密码</span>
    <span fxFlex></span>
    <mat-icon>lock</mat-icon>
  </mat-toolbar>
  <mat-dialog-content>
    <form [formGroup]="changePasswordForm" (ngSubmit)="changeOrgPassword()">
      <mat-card>
        <mat-card-header>
          <img src="assets/img/logo.png" alt="" mat-card-avatar>
          <mat-card-title>修改机构密码</mat-card-title>
          <mat-card-subtitle>要修改密码，需要输入原密码</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <mat-form-field color="primary">
            <input matInput type="password" formControlName="oldPassword">
            <mat-icon matSuffix color="warn">lock</mat-icon>
            <mat-hint align="end">保证输入的旧密码是正确的</mat-hint>
            <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('required')">必须输入旧密码</mat-error>
            <mat-label>
              <mat-icon>message</mat-icon>请输入你的旧密码
            </mat-label>
          </mat-form-field>
          <mat-form-field color="primary">
            <input matInput type="password" formControlName="newPassword">
            <mat-icon matSuffix color="warn">lock</mat-icon>
            <mat-hint align="end">新密码长度不能低于6位</mat-hint>
            <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">必须输入新密码</mat-error>
            <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">长度不低于6位</mat-error>
            <mat-label>
              <mat-icon>message</mat-icon>请输入你的新密码
            </mat-label>
          </mat-form-field>
          <mat-form-field color="primary">
            <input matInput type="password" formControlName="confirmPassword">
            <mat-icon matSuffix color="warn">lock</mat-icon>
            <mat-hint align="end">确认密码要与新密码相同</mat-hint>
            <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">必须输入新密码</mat-error>
            <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('minlength')">长度不低于6位</mat-error>
            <mat-label>
              <mat-icon>message</mat-icon>请输入你的新密码
            </mat-label>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button mat-dialog-close color="warn">
            <mat-icon>exit_to_app</mat-icon>
          </button>
          <button mat-icon-button color="primary" [disabled]="changePasswordForm.invalid">
            <mat-icon>done</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-dialog-content>
</ng-template>