<mat-dialog-content>
    <mat-toolbar color="accent">
        <span>资产相关信息</span>
    </mat-toolbar>
    <div fxLayout="row">
        <mat-list dense>
            <mat-list-item>
                <mat-icon matListIcon color="accent">filter_1</mat-icon>
                <h3 matLine><b>资产名称</b></h3>
                <p matLine>{{data.asset.assetName?data.asset.assetName:"暂无"}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon color="accent">filter_3</mat-icon>
                <h3 matLine><b>标签号</b></h3>
                <p matLine>{{data.asset.assetTagNumber?data.asset.assetTagNumber:"暂无"}}</p>
            </mat-list-item>
        </mat-list>
        <mat-list dense>
            <mat-list-item>
                <mat-icon matListIcon color="accent">filter_2</mat-icon>
                <h3 matLine><b>资产描述</b></h3>
                <p matLine>{{data.asset.assetName?data.asset.assetName:"暂无"}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon color="accent">filter_4</mat-icon>
                <h3 matLine><b>资产序列号</b></h3>
                <p matLine>{{data.asset.serialNumber?data.asset.serialNumber:"暂无"}}</p>
            </mat-list-item>
        </mat-list>
        <mat-list dense>
            <mat-list-item>
                <mat-icon matListIcon color="accent">filter_3</mat-icon>
                <h3 matLine><b>资产品牌</b></h3>
                <p matLine>{{data.asset.brand?data.asset.brand:"暂无"}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon color="accent">filter_6</mat-icon>
                <h3 matLine><b>资产型号</b></h3>
                <p matLine>{{data.asset.assetType?data.asset.assetType:"暂无"}}</p>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-toolbar color="accent">
        <span>填写表单</span>
    </mat-toolbar>
    <form [formGroup]="submitAssetStockTakingForm" fxLayout="column">
        <mat-horizontal-stepper labelPosition="bottom" linear="true">
            <mat-step formGroupName="selectStockTakingStatusForm"
                [stepControl]="submitAssetStockTakingForm.get('selectStockTakingStatusForm')">
                <ng-template matStepLabel>
                    选择填写盘点状态
                </ng-template>
                <mat-card>
                    <mat-card-header>
                        <img src="assets/img/icons/Automation.png" alt="logo" matCardAvatar>
                        <mat-card-title>
                            请选择资产状态
                        </mat-card-title>
                        <mat-card-subtitle>
                            请选择此次资产盘点相对应的状态
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-radio-group formControlName="stockTakingStatus">
                            <mat-radio-button [value]="StockTakingStatus['账面与实物相符']">{{StockTakingStatus[0]}}
                            </mat-radio-button>
                            <mat-radio-button [value]="StockTakingStatus['账面与实物不符']">{{StockTakingStatus[1]}}
                            </mat-radio-button>
                            <mat-radio-button [value]="StockTakingStatus['盘亏']">{{StockTakingStatus[2]}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button matStepperNext>
                            下一步
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-step>
            <mat-step formGroupName="inputStockTakingMessageForm"
                [stepControl]="submitAssetStockTakingForm.get('inputStockTakingMessageForm')">
                <ng-template matStepLabel>
                    填写必要信息
                </ng-template>
                <mat-card>
                    <mat-card-header>
                        <img src="assets/img/icons/Automation.png" alt="logo" matCardAvatar>
                        <mat-card-title>
                            请填写信息
                        </mat-card-title>
                        <mat-card-subtitle>
                            请填写必要的资产盘点信息
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content fxLayout="column">
                        <mat-form-field fxFlex>
                            <input matInput type="text" formControlName="personInCharge"
                                [matAutocomplete]="personInChargeAutoComplete" #personInChargeInput>
                            <mat-label>
                                <mat-icon>message</mat-icon>
                                请输入盘点负责人的工号或名字
                            </mat-label>
                        </mat-form-field>
                        <mat-autocomplete #personInChargeAutoComplete="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let item of candidateEmployees$ | async" [value]="item">
                                <mat-icon>message</mat-icon>
                                姓名:{{item.name}}-工号:{{item.identifier}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-form-field>
                            <mat-select formControlName="location">
                                <mat-option value="">
                                    请选择资产存放位置/空间
                                </mat-option>
                                <mat-option *ngFor="let item of candidateLocations$ | async" [value]="item.spaceName">
                                    {{item.spaceName}}-{{item.spaceDescription}}
                                </mat-option>
                            </mat-select>
                            <mat-label>
                                <mat-icon>message</mat-icon>
                                请选择空间
                            </mat-label>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea matInput matTextareaAutosize formControlName="message"></textarea>
                            <mat-label>
                                <mat-icon>message</mat-icon>
                                请输入盘点消息
                            </mat-label>
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button matStepperPrevious>
                            上一步
                        </button>
                        <button mat-button matStepperNext>
                            下一步
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    确认信息提交
                </ng-template>
                <mat-card>
                    <mat-card-header>
                        <img src="assets/img/icons/Automation.png" alt="logo" matCardAvatar>
                        <mat-card-title>
                            确认信息提交
                        </mat-card-title>
                        <mat-card-subtitle>
                            请仔细核对资产盘点信息，确认请提交
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content fxLayout="row">
                        <mat-list dense>
                            <mat-list-item>
                                <mat-icon matListIcon color="accent">filter_1</mat-icon>
                                <h3 matLine>
                                    <b>资产盘点状态</b>
                                </h3>
                                <p matLine>
                                    {{StockTakingStatus[submitAssetStockTakingForm.get('selectStockTakingStatusForm').get('stockTakingStatus').value]}}
                                </p>
                            </mat-list-item>
                        </mat-list>
                        <mat-list dense>
                            <mat-list-item>
                                <mat-icon matListIcon color="accent">filter_2</mat-icon>
                                <h3 matLine>
                                    <b>责任人名称</b>
                                </h3>
                                <p matLine>
                                    {{submitAssetStockTakingForm.get('inputStockTakingMessageForm').get('personInCharge').value?.name}}
                                </p>
                            </mat-list-item>
                        </mat-list>
                        <mat-list dense>
                            <mat-list-item>
                                <mat-icon matListIcon color="accent">filter_3</mat-icon>
                                <h3 matLine>
                                    <b>责任人工号</b>
                                </h3>
                                <p matLine>
                                    {{submitAssetStockTakingForm.get('inputStockTakingMessageForm').get('personInCharge').value?.identifier}}
                                </p>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button matStepperPrevious>
                            上一步
                        </button>
                        <button mat-button matStepperNext (click)="submitStokTaking()">
                            确认
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</mat-dialog-content>