<div fxLayout="row" fxLayout.lt-lg="row wrap">
    <mat-card fxFlex="50" fxFlex.lt-lg="1 1 auto">
      <mat-card-header>
        <img src="assets/img/logo.png" alt="" mat-card-avatar>
        <mat-card-title>
          机构资产信息
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>按资产三级分类显示资产分布情况</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-asset-bar-chart [dataSet]="categoriesByThirdLevelDataset" [chartTitle]="'资产按三级分类汇总'"></app-asset-bar-chart>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50" fxFlex.lt-lg="1 1 auto">
      <mat-card-header>
        <img src="assets/img/logo.png" alt="" mat-card-avatar>
        <mat-card-title>
          机构资产信息
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu2" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu2="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>按资产当前状态分类显示资产分布情况</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
          <app-asset-pie-chart [dataSet]="categoriesByStatusDataset"  [chartTitle]="'资产按当前状态汇总'"></app-asset-pie-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <app-asset-table [apiUrl]="apiUrl" [currentFileterData]="searchInput" (selected) = "onSelected($event)">
    <mat-toolbar color="primary" fxLayoutGap="10px" [ngStyle]="{'font-size': '100%'}">
      <button mat-raised-button color="primary">维护资产信息</button>
      <mat-form-field appearance="standard"  floatLabel="'never'">
        <input matInput #assetSearchInput type="text">
        <mat-label>
          输入关键字以检索...
        </mat-label>
      </mat-form-field>
    </mat-toolbar>
  </app-asset-table>