<mat-drawer-container>
  <mat-drawer mode="side" position="start" opened [ngStyle]="{'width': '350px'}" #permissionDrawer>
    <mat-toolbar color="primary">
      <mat-icon>people</mat-icon>
      <span>可操作的角色列表</span>
    </mat-toolbar>
    <mat-list>
      <mat-list-item *ngFor="let item of roles$ | async;i as index;">
        <img src="assets/img/logo.png" alt="logo" matListAvatar>
        <h3 matLine>{{item.roleNam}}</h3>
        <p matLine>{{item.description}}</p>
        <button mat-icon-button matTooltip="设置操作权限" (click)="currentRole=item">
          <mat-icon color="warn">security</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="permissionDrawer.toggle()" matTooltip="左侧导航栏开关">
        <mat-icon>menu</mat-icon>
      </button>
      <span>当前操作的角色：{{currentRole?.roleNam}}</span>
      <span fxFlex></span>
      <button mat-icon-button matTooltip="提交变更" (click)="submitModifyPermissions()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-toolbar>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
          (change)="todoItemSelectionToggle(node)">
          <mat-icon color="accent">list_alt</mat-icon>
          {{node.item}}
        </mat-checkbox>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
          (change)="todoLeafItemSelectionToggle(node)">
          <mat-icon color="warn">security</mat-icon>
          {{node.item}}
        </mat-checkbox>
      </mat-tree-node>
    </mat-tree>
  </mat-drawer-content>
</mat-drawer-container>