<mat-card>
  <mat-card-header>
    <img src="assets/img/logo.png" alt="logo" mat-card-avatar>
    <mat-card-title>固定资产分类明细</mat-card-title>
    <mat-card-subtitle>可从右侧的TAB栏位选择相应的分类，并进行操作</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="end">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">computer</mat-icon>固定资产分类明细
        </ng-template>
        <app-asset-category-table [apiUrl]="assetCategoryApiUrl" [currentFileterData]="assetCategoryFileterData"
          (selected)="onSelected($event)">
          <mat-toolbar color="primary" class="table-bar" fxLayoutGap="10px">
            <button mat-raised-button color="primary" (click)="openApplyAssetsDialog()">申请资产</button>
            <mat-form-field appearance="standard">
              <input matInput #assetCategorySearchInput type="text">
              <mat-label>
                输入关键字以检索...
              </mat-label>
              <mat-icon matSuffix color="primary">search</mat-icon>
            </mat-form-field>
          </mat-toolbar>
        </app-asset-category-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">keyboard</mat-icon>低值易耗品分类明细
        </ng-template>
        <app-asset-material-table></app-asset-material-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">settings_phone</mat-icon>服务类
        </ng-template>
        <app-asset-material-table></app-asset-material-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<ng-template #applyAssetRef>
  <mat-toolbar color="warn">
    <span>资产申请信息</span>
    <span fxFlex="1 1 auto"></span>
    <mat-icon>view_list</mat-icon>
  </mat-toolbar>
  <mat-dialog-content>
    <form [formGroup]="applyAssetForm" name="applyAssetForm" (ngSubmit)="applyAsset()">
      <mat-card>
        <mat-card-header>
          <img src="assets/img/logo.png" alt="logo" mat-card-avatar>
          <mat-card-title>机构申请资产</mat-card-title>
          <mat-card-subtitle>申请资产流程是根据你申请的资产分类进行发起的，请仔细选择你想要申请的资产</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput readonly formControlName="assetCategoryId">
            <mat-label>
              <mat-icon>message</mat-icon>
              申请资产分类序号
            </mat-label>
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly formControlName="thirdLevelCategory">
            <mat-label>
              <mat-icon>message</mat-icon>
              申请资产分类名称（三级）
            </mat-label>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="targetOrgId">
              <mat-option [value]="undefined">
                请选择一个审批机构进行操作
              </mat-option>
              <mat-option *ngFor="let item of assetApplyExaminations$ | async" [value]="item.orgId">
                {{item.orgNam}}
              </mat-option>
            </mat-select>
            <mat-label>
              <mat-icon>message</mat-icon>
              请选择审批机构
            </mat-label>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput matTextareaAutosize formControlName="message"></textarea>
            <mat-label>
              <mat-icon>message</mat-icon>
              请填写你要申请该资产的原因
            </mat-label>
            <mat-error *ngIf="applyAssetForm.get('message').invalid">必填项，最少5个字符，最多15个字符</mat-error>
            <mat-hint align="end">已输入：{{applyAssetForm.get('message').value.length}}</mat-hint>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button mat-dialog-close color="accent" matTooltip="退出">
            <mat-icon>exit_to_app</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="提交" [disabled]="applyAssetForm.invalid">
            <mat-icon>done</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-dialog-content>
</ng-template>