<mat-toolbar color="primary" class="app-sidenav-header">
  <img src="assets/img/applogo.png" alt="appLogo" [ngStyle]="{'max-width': '80%','max-height':'80%'}">
  <h2><strong>BOC.</strong>AM</h2>
</mat-toolbar>
<!-- <mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon color="warn">people</mat-icon>
      机构信息
    </mat-panel-title>
  </mat-expansion-panel-header>
 
</mat-expansion-panel> -->
<mat-nav-list>
  <h3 matSubheader>
    <mat-icon matListIcon color="primary">person</mat-icon>
    普通用户权限
  </h3>
  <mat-list-item [routerLink]="[ '/user','organization']" routerLinkActive="active">
    <mat-icon color="accent" matListIcon>domain</mat-icon>
    <a>机构信息索引</a>
  </mat-list-item>
  <mat-list-item [routerLink]="[ '/user','organization','spaceAndEmployee']" routerLinkActive="active">
    <mat-icon color="accent" matListIcon>people</mat-icon>
    <a>空间员工管理</a>
  </mat-list-item>
  <mat-list-item [routerLink]="[ '/user','assetCategory' ]" routerLinkActive="active">
    <mat-icon color="accent" matListIcon>format_list_numbered</mat-icon>
    <a>资产分类查询</a>
  </mat-list-item>
  <mat-list-item [routerLink]="[ '/user','assets' ]" routerLinkActive="active">
    <mat-icon color="accent" matListIcon>account_balance_wallet</mat-icon>
    <a>当前机构资产</a>
  </mat-list-item>
  <mat-list-item [routerLink]="[ '/user','assetApp']" routerLinkActive="active">
    <mat-icon color="accent" matListIcon>settings_applications</mat-icon>
    <a>资产事件管理</a>
  </mat-list-item>
  <h3 matSubheader>
    <mat-icon matListIcon color="primary">person_add</mat-icon>
    管理用户权限
  </h3>
  <mat-list-item [routerLink]="[ '/manage','organization']" routerLinkActive="active">
    <mat-icon color="accent" matListIcon>domain</mat-icon>
    <a>机构信息管理</a>
  </mat-list-item>
  <mat-list-item [routerLink]="[ '/manage','assetCategory' ]" routerLinkActive="active">
    <mat-icon color="accent" matListIcon>format_list_numbered</mat-icon>
    <a>资产分类管理</a>
  </mat-list-item>
  <mat-list-item [routerLink]="[ '/manage','asset' ]" routerLinkActive="active">
    <mat-icon color="accent" matListIcon>account_balance_wallet</mat-icon>
    <a>辖属资产管理</a>
  </mat-list-item>
  <mat-list-item [routerLink]="[ '/manage','assetApp' ]" routerLinkActive="active">
    <mat-icon color="accent" matListIcon>settings_applications</mat-icon>
    <a>资产事件管理</a>
  </mat-list-item>
</mat-nav-list>