<mat-toolbar color="accent">
  <span>{{asset.assetName}}的其他相关信息</span>
</mat-toolbar>
<mat-dialog-content>
  <div fxLayout="row wrap">
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon color="accent">filter_1</mat-icon>
        <p matLine><strong>资产序列号</strong></p>
        <p matLine>{{asset.serialNumber}}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon color="accent">filter_4</mat-icon>
        <p matLine><strong>品牌</strong></p>
        <p matLine>{{asset.brand}}</p>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon color="accent">filter_2</mat-icon>
        <p matLine><strong>资产描述</strong></p>
        <p matLine>{{asset.assetDescription}}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon color="accent">filter_5</mat-icon>
        <p matLine><strong>资产型号</strong></p>
        <p matLine>{{asset.assetType}}</p>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon color="accent">filter_3</mat-icon>
        <p matLine><strong>资产编号</strong></p>
        <p matLine>{{asset.assetNo}}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon color="accent">filter_6</mat-icon>
        <p matLine><strong>上一次维护备注</strong></p>
        <p matLine>{{asset.lastDeployRecord}}</p>
      </mat-list-item>
    </mat-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-icon-button color="primary" matTooltip="退出" mat-dialog-close>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-dialog-actions>