/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/@angular/material/prebuilt-themes/indigo-pink.css');
@import '~material-design-icons/iconfont/material-icons.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-icons,
.icon-text,
.icon-text-caps,
.icon-text-tweaked {
    vertical-align: middle;
}

.icon-text-caps,
.icon-text-tweaked {
    text-transform: uppercase;
}

.icon-text-tweaked {
    position: relative;
    top: 1px;
}

.table-bar {
    font-size: 100%;
}

.alertSuccess {
    background-color: #2545f8 !important;
    color: white !important;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.alertWarn {
    background: #ff511d !important;
    color: white !important;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.alertFailure {
    background: #ff2727 !important;
    color: white !important;

    .mat-simple-snackbar-action {
        color: white !important;
    }
}