<app-asset-returning-table [apiUrl]="secondaryAdminApiUrl" (selected)="onSelected($event)"
  [currentFileterData]="currentSearchInput">
  <mat-toolbar color="primary" class="table-bar" fxLayoutGap="10px">
    <button mat-raised-button color="primary" (click)="openRevokeEventDialog()">
      <mat-icon>fast_rewind</mat-icon>
      撤销资产交回请求
    </button>
    <button mat-raised-button color="primary" (click)="openHandleEventDialog()">
      <mat-icon>fast_forward</mat-icon>
      处理请求事件
    </button>
    <mat-form-field appearance="standard">
      <input matInput type="text" #searchInput>
      <mat-label>
        <mat-icon>message</mat-icon>
        输入关键字进行检索.......
      </mat-label>
    </mat-form-field>
    <span fxFlex></span>
    <a [routerLink]="[ '/dashboard' ]" matTooltip="进入仪表板">
      <mat-icon>dashboard</mat-icon>
    </a>
    <span>机构资产交回(二级权限)</span>
  </mat-toolbar>
</app-asset-returning-table>

<ng-template #revokeEventRef>
  <mat-toolbar color="warn">
    <span>撤销资产交回请求</span>
    <span fxFlex="1 1 auto"></span>
    <mat-icon>info</mat-icon>
  </mat-toolbar>
  <form [formGroup]="revokeEventForm" name="revokeEventForm">
    <h2 mat-dialog-title>请填写撤销事件原因</h2>
    <mat-dialog-content>
      <mat-form-field fxFlex>
        <input matInput formControlName="message" type="text">
        <mat-error *ngIf="revokeEventForm.get('message').invalid">
          必输项，最少2个字符，最多10个
        </mat-error>
        <mat-label>
          <mat-icon>message</mat-icon>
          请输入撤销事件的原因
        </mat-label>
        <mat-hint align="end">已输入:{{revokeEventForm.get('message').value.length}}/10</mat-hint>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-icon-button color="warn" mat-dialog-close matTooltip="取消">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="revokeEvent()" matTooltip="确定"
        [disabled]="revokeEventForm.invalid">
        <mat-icon>done</mat-icon>
      </button>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #removeEventRef>
  <mat-toolbar color="warn">
    <span>删除资产交回请求</span>
    <span fxFlex="1 1 auto"></span>
    <mat-icon>info</mat-icon>
  </mat-toolbar>
  <mat-dialog-content>
    <mat-card>
      <mat-card-header>
        <img src="assets/img/logo.png" alt="logo" mat-card-avatar>
        <mat-card-title>该事件可被删除</mat-card-title>
        <mat-card-subtitle>该事件已被标记为{{currentSelectedRow.status}}，该事件可被删除，一经删除，无法恢复</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        确认要删除吗？
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-icon-button color="warn" mat-dialog-close matTooltip="取消">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="removeEvent()" matTooltip="确定">
      <mat-icon>done</mat-icon>
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #handleEventRef>
  <mat-toolbar color="warn">
    <span>处理资产申请请求</span>
    <span fxFlex="1 1 auto"></span>
    <mat-icon>info</mat-icon>
  </mat-toolbar>
  <mat-dialog-content>
    <mat-card>
      <mat-card-title-group>
        <img src="assets/img/logo.png" alt="logo" mat-card-sm-image>
        <mat-card-title>资产申请详情</mat-card-title>
        <mat-card-subtitle>该事件的当前状态为<strong>{{currentSelectedRow.status}}</strong></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content fxLayout="row wrap">
        <mat-list fxFlex>
          <mat-list-item>
            <img src="assets/img/logo.png" alt="logo" mat-list-avatar>
            <p matLine>资产名称</p>
            <p matLine>{{currentSelectedRow.assetName}}</p>
          </mat-list-item>
        </mat-list>
        <mat-list fxFlex>
          <mat-list-item>
            <img src="assets/img/logo.png" alt="logo" mat-list-avatar>
            <p matLine>请求机构号</p>
            <p matLine>{{currentSelectedRow.requestOrgIdentifier}}</p>
          </mat-list-item>
        </mat-list>
        <mat-list fxFlex>
          <mat-list-item>
            <img src="assets/img/logo.png" alt="logo" mat-list-avatar>
            <p matLine>请求机构名称</p>
            <p matLine>{{currentSelectedRow.requestOrgNam}}</p>
          </mat-list-item>
        </mat-list>
        <mat-list fxFlex>
          <mat-list-item>
            <img src="assets/img/logo.png" alt="logo" mat-list-avatar>
            <p matLine>预留信息</p>
            <p matLine>{{currentSelectedRow.message}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-icon-button color="warn" mat-dialog-close matTooltip="取消">
          <mat-icon>power_settings_new</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="进入处理" (click)="handleEvent()">
          <mat-icon>done</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</ng-template>